name: Release

on:
  release:
    types: [published]

permissions:
  id-token: write  # Required for OIDC
  contents: read

env:
  CI: true
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout/@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - run: npm install -g npm@latest # Required for trusted publishing (npm 11.5.1 or later)

      - name: Install dependencies
        run: npm ci

      - name: Build Extension
        run: npm run build

      - name: Set release channel
        run: |
          echo "RELEASE_CHANNEL=$(npm run release-channel --silent)" >> $GITHUB_ENV

      - name: Publish Extension
        run: npm publish --tag ${{ env.RELEASE_CHANNEL }}
